[Unit]
Description=NOS CLI Shell
Documentation=https://github.com/nos-dev/nos
After=network.target nos-pfe.service

[Service]
Type=simple
ExecStart=/usr/local/bin/nos-cli
User=nos
Group=nos
Restart=on-failure
RestartSec=3s
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN

StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
